.btn-done {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-button);
    background: var(--color-button);
    border: 3px solid var(--color-non-active-button);
    border-radius: 50%;
    width: 1.55rem;
    height: 1.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.btn-done:hover, .btn-done:active, .btn-done:focus {
    color: var(--color-secondary);
    border: 3px solid var(--color-secondary);
}

.btn-done-checked {
    color: var(--color-secondary);
    border: 3px solid var(--color-secondary);
    cursor: auto;
}

.task__btn-edit, .task__btn-delete, .btn-recover {
    position: relative;
    color: var(--color-non-active-button);
    background: var(--color-button);
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.task__btn-edit:hover, .task__btn-delete:hover {
    color: var(--color-main);
}

.btn-recover:hover {
    color: var(--color-secondary);
}

.task__btn-edit:hover::after, .task__btn-delete:hover::after, .btn-recover:hover::after{
    content: attr(data-title);
    position: absolute;
    min-width: 6rem;
    border-radius: 20px;
    color: var(--color-button);
    top: 90%;
    z-index: 1;
    background: var(--color-non-active-button);
    opacity: 80%;
    font-size: 12px;
    padding: 0.3rem;
}

.btn-description {
    border: 0;
    background: inherit;
    padding: 0;
    margin-bottom: 5px;
    color: var(--color-non-active-button);

}

.btn-description:hover {
    color: var(--color-secondary);
}

.task__title {
    font-size: 20px;
    font-weight: bold;
}



