ul {
    list-style-type: none;
    display: flex;
}

p {
    margin: 0;
}

.tab-wrapper{
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 200px;
    min-height: 30px;
    overflow: hidden;
}

.tab {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-active {
    background-color: bisque;
}

.tab-content {
    display: none;
}

.tab-content:target {
    display: block;
}

.tasks-create-btn {
    margin-bottom: 20px;
    min-height: 30px;
    min-width: 120px;
}

.modal-window__content-wrapper {
    min-width: 300px;
    min-height: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__task {
    margin-bottom: 10px;
}

.form__description {
    min-height: 150px;
    margin-bottom: 10px;
    resize: none;
}

.form__priority {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    word-break: break-word;
    border: 1px solid black;
}

/* добавить, когда будет готов контент таблицы
    +colspan в заголовке
*/
/*.table-body__task-done-btn {*/
/*    min-width: 15px;*/
/*}*/

/*.table-body__task-info {*/
/*    min-width: 300px;*/
/*}*/

.table__description-btn {
    border: 0;
    background: inherit;
    margin-bottom: 5px;
    color: blue;
    text-decoration: underline;
}

.table__description-btn:hover {
    cursor: pointer;
}

.table__description-btn:focus {
    outline: none;
}

.table__description-hide {
    display: none;
}

.table__description-show {
    display: block;
}