@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import 'tabs.css';
@import "tabs-content.css";
@import "table-content.css";
@import "form.css";

:root {
    --color-main: #e77a0e;
    --color-secondary: #423FF9;;
    --color-non-active: #858585;
    --color-button: #FFFFFF;
    --color-non-active-button: #a4a3a3;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: 0.5rem 0;
}

.hide {
    display: none;
}

button, button:active, button:hover, button:focus, input, input:active, input:focus {
    outline: none;
    cursor: pointer;
    background-color: inherit;
}

